/* =Responsive (Mobile) Design
-------------------------------------------------------------- */

@media screen and (max-width: 980px) {

	/* body {
	}

	.grid,
	.grid-right {
		float: none;
	}

	.copyright,
	.scroll-top,
	.powered {
		float: left;
	}

	#featured-image .fluid-width-video-wrapper {
		margin: 20px 0 0 0;
	}

	.front-page  #widgets {
		margin-top: 40px;
	}

	.top-widget,
	.front-page  .top-widget {
		margin-top: 0 !important;
	}

	.hide-desktop {
		display: block;
	}

	.show-desktop {
		display: none;
	}

	.hide-980 {
		display: none;
	}

	.show-980 {
		display: block;
	} */

}




@media screen and (max-width: 1000px) {

	body {
	}
	
	
div.linkSelCont .title {
	font-size:12px;
}
	
	#content{
		padding: 10px 0;
	}
	
	.contImgSlide{
		width:auto;
	}
	
	#singleContent{
		width:75%;
	}
	
	
	
	#menu {
		font-size: 13px;
		padding: 10px 15px 10px 10px;
	}
	
	.main-nav{
		background-color:#013565;
		text-align:center;
		height: 35px;
	}

	.menu a{
		padding: 0 10px;	
	}
	
	.menu li{
		width:auto;
	}
	
	.menu, .menu ul {
		display: inline-block;
		margin: 0 auto;
		min-height: 0;
		overflow: hidden;
		width: 700px;
	}
	
	.menu > li:first-child > a {
		border-left: 2px solid #ffffff;
	}
	.menu > li:last-child > a {
		border-right: 2px solid #ffffff;
	}
	
	.menu:after, .menu ul:after{
		content:none;
	}
	/* #logo {
		float: none;
		margin: 0;
		text-align: center;
	} */

	#container{
		min-width:320px;
			}
	
	.grid,
	.grid-right {
		float: none;
	}

	#featured-image .fluid-width-video-wrapper {
		margin: 20px 0 0 0;
	}

	.top-widget {
		float: none;
		margin: 0 auto 10px auto;
		position: relative;
		text-align: center;
		width: auto;
	}

	.top-widget .widget-title h3 {
		text-align: center;
	}

	

	.top-menu,
	.footer-menu li {
		float: none;
		font-size: 11px;
		text-align: center;
	}

	#author-meta {
		padding: 20px;
	}

	#wrapper .gallery .gallery-item {
		max-width: 100%;
	}

	.hide-650 {
		display: none;
	}

	.show-650 {
		display: block;
	}

	.hide-mobile {
		display: none;
	}

	#footer {
		/* text-align: center; */
	}

	#footer .social-icons {
		padding-bottom: 10px;
		text-align: center;
	}
}

@media screen and (max-width: 930px) {
	.tabs > ul, .tabs > ol, .tabs > div > ul, .tabs > div > ol {
		 float: left;		
	}
	
	.ui-tabs-nav li{
		clear:both;
		float: right;
		border-right:none;
		border-bottom: 2px solid #ffffff;
		padding: 6px 2px;
		width:100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		max-width: 120px;
	}
	
	div.qualificationSearchContent ul{
		width:25% !important;
	}
	div.qualificationSearchContent ul:nth-child(4n){ clear:left;}
	/* div.qualificationSearchContent ul:nth-child(3n) { float:left;}
	div.qualificationSearchContent ul:nth-child(even) {float:right;} */
	
}
@media screen and (max-width: 880px) {
	div.rightHand{display:none}
	div.responsiveRight{display:block};
}

@media screen and (max-width: 750px) {
	
	#mapCanvas{	
		height: 430px;
		margin: 20px auto 0 auto;
		width: 430px;
	}
		
	#menu {
		font-size: 12px;
	}
	
	.finderLeft{
		float:none;
		width:auto;
	}
	
	.finderRight{
		float:none;
		width:auto;
	}
	
	.js .sub-header-menu {
		display: none;
	}
	
	.main-nav{
		height: 30px;
	}
	
	div.homeLeft{
		float:none;
		max-width:none;
	}
	
	div.homeRight{
		float: none;
		max-width: 100%;
		text-align:center;
		margin-bottom: 20px;
	}
	
	
	div.linkSelCont {
		display:inline-block;
		margin:0 auto;
		text-align: left;
	}
	 
	div.qualificationSearchContent ul{
		width:35% !important;
	}
	div.qualificationSearchContent ul:nth-child(3n) { clear:left;}
	div.qualificationSearchContent ul:nth-child(4n){ clear:none;}
	/* div.qualificationSearchContent ul:nth-child(odd) { float:left;}
	div.qualificationSearchContent ul:nth-child(even) {float:right;} */

	.js .main-nav {
		position: relative;
	/*	float: right;
	    background-color: #585858;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
		background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
		background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
		background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
		background-image: -o-linear-gradient(top, #585858, #3d3d3d);
		background-image: linear-gradient(top, #585858, #3d3d3d);
		clear: both;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#585858, endColorstr=#3d3d3d);
		margin: 0 auto; */
	}

	.js .main-nav .menu {
		display: none;
		position: absolute;
		width: 50%;
		top: 30px;
		right:0;
		z-index: 1000;
	}

	.js .main-nav .menu ul {
		margin-top: 1px;
	}

	.js .main-nav .menu li {
		float: none;
		border-left: none;
		border-bottom:none;
		border-top: 1px solid #ffffff;
		/* background-color: #ffffff; */
		/* border: none; */
	}

	.js .main-nav .menu li a {
	border:none;
		/* color: #444444;
		font-size: 13px;
		font-weight: normal;
		height: 45px;
		line-height: 45px;
		padding: 0 15px;
		border: none;
		border-bottom: 1px solid #f5f5f5;
		text-shadow: none;
		text-align: left;
		cursor: pointer; */
	}

	.js .main-nav .menu li.current_page_item,
	.js .menu .current_page_item a,
	.js .menu .current-menu-item a {
		/* background-color: #f5f5f5; */
	}

	/* .js .main-nav .menu li li:hover {
		background: none !important;
	} */

	.js .main-nav .menu li li a {
		position: relative;
		padding: 0 10px 0 30px;
	}

	.js .main-nav .menu li li li a {
		position: relative;
		padding: 0 10px 0 40px;
	}

	/* .js .main-nav .menu li a:hover,
	.js .main-nav .menu li li a:hover {
		background-image: none;
		filter: none;
		background-color: #f5f5f5 !important;
	} */

	/* .js .main-nav .menu li li a::before {
		content: '\2013';
		position: absolute;
		top: 0;
		left: 20px;
	}

	.js .main-nav .menu li li li a::before {
		content: '\2013';
		position: absolute;
		top: 0;
		left: 20px;
	}

	.js .main-nav .menu li li li a::after {
		content: '\2013';
		position: absolute;
		top: 0;
		left: 30px;
	}

	.js .main-nav .menu li ul {
		position: static;
		visibility: visible;
		background-color: #ffffff;
	}

	.js .main-nav .menu ul {
		min-width: 0;
	}
 */
	.js .main-nav #responsive_current_menu_item {
		display: block; 
		padding: 5px 40px 5px 10px;
		color: #ffffff;
		font-weight: 700;
		cursor: pointer;
		
	}

	.js .main-nav a#responsive_menu_button {
		position: absolute;
		display: block;
		top: 0;
		left: 100%;
		height: 30px;
		width: 23px;
		margin-left: -30px;
		background: url('../images/select-icons.png') 0 5px no-repeat;
		cursor: pointer;
	}

	.js .main-nav a#responsive_menu_button.responsive-toggle-open {
		background: url('../images/select-icons.png') 0 -46px no-repeat;
	}


}

@media screen and (max-width: 650px) {
	.breadcrumb-list{
		display: none;
	}
	
	div.bannerImageCont{
		display:none;
	}
	#menu{
		padding-left: 0;
	}
	
	
	#rightHeaderContainer{
		margin-right:0;
		position: initial;
		float: right;
	}
	
	.headerLinksContainer{
		width:120px;
		float:right;
	}
	
	
	a.linkHeader{
		margin-bottom: 5px;
		text-align: center;
		width: 100px;
	}
	
	/* div.searchContainer{
		clear:none;
		display:none;
	} */
	
	div.searchContainer div.search{
		width:115px;
	}
	
}

@media screen and (max-width: 550px) {
	
	#logo {
		bottom: 20px;
		display: inline-block;
		margin: 0;
		position: absolute;
		width: 190px;
	}
	
	div.qualificationSearchContent ul { margin:0 !important;width:auto !important; float:none !important;}
	
	
		#singleContent{
		width:auto;
		float: none;
		margin-top: 20px;
	}
	#menu{
		background: none repeat scroll 0 0 #ffffff;
		font-size: 12px;
		left: -100%;
		position: absolute;
		width: 50%;
		height:auto;
		top:10px;
		border: 1px solid #013565;
		padding-left:20px;	
		box-shadow:3px 3px 6px -2px #013565;
	}
	
	#container div.menuShow{
		display:block;
		box-shadow:3px 3px 6px -2px #013565;
	}
	
	#menu>.menuHide{
		display:block;
	}
	
}



@media screen and (max-width: 480px) {

	#mapCanvas{
		width:auto;
	}

	div.qualificationSearchContent div{
		font-size:12px;
	}
	
	div.qualificationSearchContent div.search{
		width: 150px;
	}	

	#singleContent{
		width:auto;
		float: none;
		margin-top: 20px;
	}
	#menu{
		background: none repeat scroll 0 0 #ffffff;
		font-size: 12px;
		left: -100%;
		position: absolute;
		width: 50%;
		height:auto;
		top:10px;
		border: 1px solid #013565;
		padding-left:20px;	
		box-shadow:3px 3px 6px -2px #013565;
	}
	
	#container div.menuShow{
		display:block;
		box-shadow:3px 3px 6px -2px #013565;
	}
	
	#menu>.menuHide{
		display:block;
	}
	

div.qualificationSearchContent ul { margin:0;width:auto; float:none !important;}

	body {
	}

	.copyright{
		display:none;
	}
	
	#footer-wrapper{
		text-align:center;
	}

	.grid,
	.grid-right {
		float: none;
	}

	#featured-image .fluid-width-video-wrapper {
		margin: 20px 0 0 0;
	}

	.featured-title {
		font-size: 40px;
		padding: 40px 20px 0 20px
	}

	.featured-subtitle {
		font-size: 24px;
	}

	.navigation .next,
	.navigation .previous {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.menu ul,
	.menu li,
	.top-menu,
	.footer-menu li,
	.sub-header-menu li {
		float: none;
		text-align: center;
		text-rendering: optimizeSpeed;
	}

	#wrapper .gallery .gallery-item {
		float: none;
	}

	.hide-480 {
		display: none;
	}

	.show-480 {
		display: block;
	}

	#footer {
		text-align: center;
	}

	#footer .social-icons {
		text-align: center;
	}
	
	#footerFoot{
		text-align: left;
		padding: 3px 0;
	}
}

@media screen and (max-width: 320px) {

	body {
	}

	#featured p {
		font-size: 12px;
		line-height: 1.5em;
	}

	.featured-title {
		font-size: 35px;
	}

	.featured-subtitle {
		font-size: 15px;
	}

	.call-to-action a.button {
		font-size: 14px;
		padding: 7px 17px;
	}

	.hide-320 {
		display: none;
	}

	.show-320 {
		display: block;
	}
}

@media screen and (max-width: 240px) {

	body {
	}

	#featured p {
		font-size: 11px;
		line-height: 1.5em;
	}

	.featured-title {
		font-size: 20px;
	}

	.featured-subtitle {
		font-size: 11px;
	}

	.call-to-action a.button {
		font-size: 12px;
		padding: 5px 15px;
	}

	.top-widget area,
	.top-widget select,
	.top-widget textarea,
	.top-widget input[type="text"],
	.top-widget input[type="password"],
	.top-widget input[type="email"] {
		width: 75%;
	}

	.widget-title h3,
	.widget-title-home h3 {
		font-size: 14px;
		height: 13px;
		line-height: 13px;
		text-align: left;
	}

	.hide-240 {
		display: none;
	}

	.show-240 {
		display: block;
	}
}
