/* CSS Rules: Sorted alphabetically for better organization. */

/* =Reset CSS (v2.0) http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	display:none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input, select, textarea {
	font-size: 100%;
	overflow: visible;
	margin: 0;
	vertical-align: baseline;
	width: auto;
}

textarea {
	overflow: auto;
	vertical-align: text-top;
}

/* =Horizontal Rule
-------------------------------------------------------------- */
hr {
	background: #dddddd;
	border: 1px;
	clear: both;
	color: #dddddd;
	height: 1px;
	width: 100%;
}

hr.space {
	background: #ffffff;
	color: #ffffff;
}

/* =Base
-------------------------------------------------------------- */
html {
	height: 100%;
}

body {
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	background: #efefef;
	/* color: #555555; */
	color:#002D67;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-smoothing: antialiased;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
}

/* =Typography
-------------------------------------------------------------- */
p {
	word-wrap: break-word;
}

i,
em,
dfn,
cite {
	font-style: italic;
}

tt,
var,
pre,
kbd,
samp,
code {
	font-family: monospace, serif;
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

pre {
	-moz-box-sizing: border-box;
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	background: #f4f4f4;
	border: 1px solid #aaaaaa;
	border-bottom-color: #cccccc;
	border-radius: 2px;
	height: auto;
	margin: 0;
	outline: none;
	padding: 6px 10px;
	vertical-align: middle;
	width: 100%;
	word-wrap: break-word;
	white-space: pre-wrap;
}

del {
	color: #555555;
	text-decoration: line-through;
}

ins,
dfn {
	border-bottom: 1px solid #cccccc;
}

sup,
sub,
small {
	font-size: 85%;
}

abbr,
acronym {
	font-size: 85%;
	letter-spacing: .1em;
	text-transform: uppercase;
}

a abbr,
a acronym {
	border: none;
}

dfn[title],
abbr[title],
acronym[title] {
	border-bottom: 1px solid #cccccc;
	cursor: help;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

/*
LL - Finder
*/

div.errorFields ul, div.errorFields ul li{
	display:none;
	color: #ff0000;
	margin:0 10px;
}

#finderContent .selects{
	border-bottom: 1px dashed #A0A0A0;
	padding-bottom: 5px;
	position:relative;
}

#finderContent{
	color: #000000;
}

input[type="text"], textarea{
	/* border-color: #aaaaaa #aaaaaa #cccccc; */
	padding: 2px 5px 3px;
	border: 1px solid #013565;
	box-shadow:none;	
}

input[type="text"]#address{
	width: 140px;
}


#noResults{
	border: 2px solid #0098d9;
	color:#013565;
	border-radius:2px;
	padding: 17px 10px;
	font-size:16px;
	display:none;
	margin-top: 20px;

}

#loading{
	text-align: center; 
	display:none;
	position:absolute;
	top:0;
	right:0;
}

#loading img{
	width:30px;
}


#noResults a{
	font-weight: 700;
}



/* 
#finderContent input[type="text"]{
	/* border-color: #aaaaaa #aaaaaa #cccccc;
	padding: 3px 5px 2px;
	border: 1px solid #013565;
	box-shadow:none;
	
} */

#finderContent a.buttonSearch, input[type="submit"].ninja-forms-field{
	background-color: #0098d9;
    color: #ffffff !important;
    display: inline-block;
    font-size: 12px;
    padding: 2px 5px 1px;
    text-align: center;
    vertical-align: middle;
	cursor:pointer;
	border:none;
}

.gmnoprint img {
    max-width: none; 
}

div.marker{
	font-size:12px;
}
.markerTitle{
	font-size:14px;
	color:#013565;
	font-weight:700;
}

.gm-style-iw{
/* 	height:100%;
    overflow: hidden;
	width:280px; */
    max-height: 250px !important;
	overflow:hidden;
    overflow-y: auto !important;
	width:280px
}

img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
	max-width: none !important;
}

#finderContent select{
	border: 1px solid #013565;
	box-shadow:none;
	padding: 1px 5px 2px;
	margin: 10px 0;
}

#finderContent select.fixedw{
	width:300px;
}

.finderExp{
	border:1px solid #A0A0A0;
	background-color:#E6E6E6;
	padding: 5px 15px;	
	margin: 20px 0 10px;
	font-size:12px;
}

#finderContent a{
	color: #22558f !important;
}

.finderSel {
    /* margin: 10px 0;	 */
}

.finderHelp{
	padding:15px;
	background-color:#FAFAFA;
	border:1px solid #A0A0A0;
	border-radius:15px;
	margin-top: 15px;
}

.finderSelSport{
	display:none;
}

.finderRight{
	float:right;
	width:48%;
}
.finderLeft{
	float:left;
	width:50%;
}

#mapCanvas{
	width:100%;
	height: 430px;
}

#finderResults div.results{
	padding: 10px 0;
	font-size:13px;
	color: #000000;
	border-bottom: 1px dashed #A0A0A0;
}

#finderResults div.results .title{
	font-weight: 700;	
	font-size: 13px;
}

#finderResults div.results a{
	font-weight: 700;
	color: #013565;
	
}

/*
LL - End Finder
*/

/*
LL - Forms
*/

div.ninja-forms-cont{
	background-color: #e6e6e6;
	overflow: hidden;
	padding: 20px 20px 10px; ;	
}

div.ninja-forms-cont br{
	display:none;
}

div.ninja-forms-cont input:not([type="radio"]):not([type="checkbox"]), div.ninja-forms-cont textarea, div.ninja-forms-cont select{
	width:250px;
	float:right;
	margin-right: 70px;
}

div.ninja-forms-cont div.ninja-forms-required-items{
	font-size: 11px;
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: right;
    width: 100%;
}

div.ninja-forms-cont p{
	margin: 0;
}


div.ninja-forms-cont textarea{
	height:100px;
	overflow-y: scroll;
    resize: none;
}


div.ninja-forms-cont input[type="submit"].ninja-forms-field{
	font-size: 14px !important;
    font-weight: 700 !important;
    margin-right: 15px !important;
    padding: 4px 5px !important;
    width: auto !important;
}

div.ninja-forms-cont div.label-left>label{
	max-width:50%;
}

div.ninja-forms-cont ul li:before{
	content: "";
}

div.ninja-forms-cont ul li{
	clear:both;
}

/*
LL - End Forms
*/

/*
LL - Customised classes
*/




#headerContent{
	overflow:hidden;
	position:relative;
}

#rightHeaderContainer{
	bottom: 0;
    margin: 0 10px 15px 0;
    position: absolute;
    right: 0;
}

div.searchContainer{
	overflow: hidden;
	padding: 4px;
	text-align:right;
	clear:both;
}

div.search{
    height: 23px;
    width: 202px;
	float:right;
}

form{
	margin:0 !important;
	text-align:left;
}

div.search input[type="text"] {
    border: medium none;
    box-shadow: none;
    height: 22px;
    width: calc(100% - 35px);
	width: -moz-calc(100% - 35px);
	width: -webkit-calc(100% - 35px);	
	background-color:transparent;
	padding: 0 0 0 10px;
	float:left;
}

div.searchHome {
	float:left !important;
	background-color:#ffffff;
	border-radius:5px !important;
	border: 1px solid #CCCCCC;
	margin-bottom:5px;
	box-shadow:none;
}


div.search a.lupa{
	display: block;
    float: right;
    width: 25px;
}

div.searchHome input[type="submit"].lupa {
    background-image: url("/img/icon/submit-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: medium none;
    display: block;
    float: right;
    font-size: 0;
    height: 100%;
    margin-right: 2px;
    text-shadow: none;
    width: 22px;
}

div.searchHome input[type="submit"].lupa:active{
	box-shadow:none;
}
	
div.searchHome a.lupa {
    background-image: url("/img/icon/submit-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
	width: 22px !important;
	height:100%;
	margin-right:2px;
}
	

.greyGradient{
	background: linear-gradient(#FAFAFA, #DFDFDF);
	background: -ms-linear-gradient(#FAFAFA, #DFDFDF);
	background: -moz-linear-gradient(#FAFAFA, #DFDFDF);
	background: -o-linear-gradient(#FAFAFA, #DFDFDF);
	background: -webkit-linear-gradient(#FAFAFA, #DFDFDF);
	background-color: #e5e5e5;
}

.genBoxShadow{
	/* border: 1px solid #EDEDED; */
    border-radius: 9px;
	box-shadow: 2px 2px 2px 1px #D6D5D5;
}

a.linkHeader{
	background-color: #0098d9;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-size: 11px;
    font-weight: 700;
    line-height: 11px;
    margin-right: 3px;
    padding: 4px 8px;	
}

arrow:before{
	content:"\25BA";
}

.headerLinksContainer{

}

#footer-wrapper #footerBar{
	background-color: #ECECEC;
	padding: 7px;
	font-weight: 700;
	margin: 0 auto;
    max-width: 960px;
    /* min-width: 960px; */
}


#footer-wrapper a.footerLink{
	padding: 0px 5px;
}

#footer-wrapper #footerFoot{
	float: left;
    padding: 10px;
}

#footer-wrapper #footerFoot a{
	font-weight:700;
} 

#footer-wrapper div.socialIcon{
	float: right;
    padding: 10px;
}


div.bannerImageCont{
	max-height:223px;
	overflow:hidden;
}

div.bannerImageCont img{
	width:100%
}

.slideContainer{	
	overflow:hidden;
	position:relative;
}

.mainSlide{
	max-height:210px;
}

#partnersList{
	line-height:60px;
	max-height:60px;
	vertical-align:middle;

}
.partnersSlideContainer{
	border-bottom: 2px solid #6887A3;
	border-top: 2px solid #6887A3;
}

.contImgPartner {
	text-align:center;
	max-height:inherit;
	margin:0px 5px;
}

.partnersSlideContainer .bx-wrapper{
	max-width:100% !important;
}

#slideList{
	height:210px
}

.contImgSlider{
	position:relative;
	max-height:100%;
}

.contImgPartner img{
	max-height:inherit;
}

.contImgSlide img{
	/* width:100%; */
	height: 210px;
    max-width: none; 
    width: auto;
}

/* .textSlide p {
	margin:0;
}
 */

.textSlide p:first-child {
    margin-top: 0 !important;
}

.slideContainer .contTextSlide{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #ffffff;
    height: 180px; /* 210px */
    left: 0;
    overflow: hidden;
    padding: 15px 30px;
    position: absolute;
    top: 0;
    width: 260px;
	line-height:20px;
}

.slideContainer .contTextSlide a,
.slideContainer .contTextSlide a:visited{
	color: #d8ce42 ;
}


div.bx-controls-direction{
/* 	position: absolute;
    top: calc(50% - 20px);
    width: 100%;
    z-index: 99; */
}

div.partnersSlideContainer div.bx-controls-direction{	
/* 	height: 100%;
	top:0;
	width:100%;
	z-index:0; */
}

div.partnersSlideContainer div.bx-viewport{
	padding: 5px 30px;
	width: auto !important;
		
}

div.mainSlide div.bx-viewport{
	height:210px !important;
}

div.partnersSlideContainer div.bx-controls-direction a {

    background-color: #232d51;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px auto;
    height: 100%;
    margin: 0;
    width: 20px;
	top: 0;
}


div.bx-controls-direction a {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 18px auto;
    font-size: 0;
    height: 40px;
    position: absolute;
    text-indent: -9999px;
    top: calc(50% - 20px);
    width: 18px;
    z-index: 99;

	/* background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    height: 40px;
    text-indent: -9999px;
    width: 19px; */
}

div.bx-controls-direction a.bx-prev{
	margin-left:5px;
	left:0;
	background-image: url('/img/prev-arrow.png');
	
}
div.bx-controls-direction a.bx-next{
	margin-right:5px;
	right:0;
	background-image: url('/img/next-arrow.png');
}

div#loadingQuals{
	display:none;
	background-size:contain;
	background-repeat:no-repeat;
	background-image: url('/img/icon/loaderb64.gif');
	padding-left:30px;
	font-size:12px;
}

div.homeLeft{
	float:left;
	max-width: 70%;
}

div.homeRight{
	float:right;
	max-width: 28%;
}

div.homeFoot{
	clear:both;
	margin-top:15px;
}

div.linkSelCont{
	padding:10px 0px 0px 0px;
	color: #002D67;
	font-weight:700;
}

div.linkSelCont select{
	border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    font-size: 12px;
    /* font-weight: bolder; */
    padding: 1px;
    width: 100%;
}

div.linkSelCont .title{
	background-color:#FEED01;
	padding: 5px 50px 1px 5px;
}

div.linkSelCont .content{
	background-color:#FFDE59;
	padding:5px 8px;
}

#singleContent #content{
	padding:0;
}

#menu {
    color: #002d67;
    font-size: 14px;
    height: 100%;
    overflow: hidden;
    padding: 20px 30px 20px 20px;
}

#singleContent{
	float: right;
    width: 700px;
}

#container div.menuShow{
	border: 1px solid #013565;
    cursor: pointer;
    display: none;
    font-size: 14px;
    left: -20px;
    padding: 0 5px 0 20px;
    position: absolute;
    top: 10px;
	
}

#container div.menuShow:after{
	content: "\25BA";
	margin-left: 5px;
}

#menu>.menuHide{
	float: right;
    margin-right: -15px;
    margin-top: -8px;
	display:none;
}

#menu>.menuHide:before{
	content: "\25c2";
	cursor: pointer;
	font-size:30px;
}

#menu>div.itemLeftMenuCont>div.blockLeftMenu{
	padding-left: 0;
}
#menu>div.itemLeftMenuCont>div.blockLeftMenu>div.itemLeftMenu{
	padding-left: 0;
}

#menu>div.itemLeftMenuCont>div.itemLeftMenu{
	font-size:18px;
	color: #013565 !important;
	padding: 5px 0px 5px 4px;

}

#menu div.itemLeftMenuCont{
	position:relative;
}

#menu>div.itemLeftMenuCont>div.blockLeftMenu>div.itemLeftMenuCont div.blockLeftMenu {
	display:none;
}

#menu>div.itemLeftMenuCont>div.blockLeftMenu>div.itemLeftMenuCont>div.blockLeftMenu div.itemLeftMenu{
	border-style:dotted;	
	margin-left: 18px;
    position: relative;
}

#menu>div.itemLeftMenuCont>div.blockLeftMenu>div.itemLeftMenuCont>div.blockLeftMenu div.itemLeftMenu:before{
	content:"\25BA";
	color:#013565;
	left: -8px;
    position: absolute;
}

#menu div.visible{
	display:block !important;
}

#menu div.noBorder{
	border-bottom:none !important;
}


#menu .blockLeftMenu{
	padding: 0px 0 0px 10px;
}

#menu div.itemLeftMenu{
	padding: 5px 0 5px 10px;
	border-bottom: 1px solid #002D67;
}



.lightBlue{
	color: #0098D9;
}

div.rightHand{
	float:right;
	max-width:180px;
	padding:0 10px;
	margin-bottom: 15px;
	margin-left:15px;
	font-size: 12px;
}

div.responsiveRight {	
	border-top: 1px dashed #013565;
	padding-top: 10px;
	margin-top: 20px;
}

div.responsiveRight{
	display:none;
}

div.rightHand a.ffourbutton{
	padding: 5px !important;
	font-size:10px !important;
}


div.partnerRight{
	max-width:100%;
	margin:5px;
}

div.linkRight{
text-align:left;

}
div.qualificationsSearchContainer{
	clear:both;
	margin: 3px 0;
}

div.qualificationsSearchContainer:first-of-type{
	margin-top:-5px;
}

div.qualificationsSearchContainer:last-of-type{
	margin-bottom:-5px;
}

div.qualificationSearchTitle:before{
	content:"\25BA";
	color: #A2A2A2;
	margin-right:1px;
	font-size:12px;	
}

div.qualificationSearchTitle{
	font-weight:700;
	color: #013565;
	display:inline;
	cursor:pointer;
}

div.searchSelected:before{
	content:"\25BC" !important;	
}
div.qualificationSearchContent ul {
/*     list-style-type: disc;
	list-style-position:inside; */
	float:left;
	width:15%;
	margin: 5px 0;
	font-size:12px;
	line-height:18px;
	word-wrap: break-word;
}

div.qualificationSearchContent ul.subjectHome{
	width:20%;
}

.breadcrumb-list a{
	color:inherit !important;
}

div.qualificationSearchContent li a{
	color: #013565 !important;		
}

/* div.qualificationSearchContent li a:hover{
	color: #0098d9 !important;		
} */

div.qualificationSearchContent li:before{
	/* content:""; */
}

div.qualificationSearchContent li{
	color: #0098D9;
	padding:2px 0;
}

div.qualificationSearchContent{
	padding-left:15px
}

div.accordion{
	padding: 5px 0;
	overflow:hidden;
}

div.acclink{
	margin-left:10px;
	font-weight: 700;
}

.accBox .files{
	margin-left:10px;
}

.accBox .files a{
	font-weight:100;
}

.accBox .files a+a:before{
	content: "|";
	color: #000000;
	margin: 0 5px;
}

.accBox .files a:before{
	content: "\00BB";
	margin-right:2px;
}

div.accordion  .acccontainer  .acctitle{
	background-color: #013565;
	color:#ffffff;
}

.acctitle.orange{
	background-color: #ff9933 !important;
}

.acctitle.red{
	background-color: #d04327 !important;
}

.acctitle.green{
	background-color: #4ea147 !important;
}

.acctitle.light-blue{
	background-color: #3098cb !important;
}

div.accordion  .acccontainer  .acctitle:after{
	content:"\25BA" !important;	
	float: right;
}

div.accordion  .acccontainer  .acctitle.selected{
	background-color: #0098d9 !important;
}

div.accordion  .acccontainer  .acctitle.selected:after{
	content:"\25BC" !important;	
	float: right;
}



div.accordion .acctitle{
	cursor:pointer;
	margin:10px 0 0;
	padding: 2px 8px;
	font-weight:700;
}


div.accordion a:before{
	content:"\25BA";
}


div.accordion a{
	color: #1D5890 !important;
	/* color:#013565 !important;*/
	font-weight:700;
}

div.accordion .acccontentSecondLev{
	padding: 0 0 0 20px !important;
	background-color:transparent !important;
}

div.accordion  .acccontainerSecondLev  .acctitle{
	background-color: #ffffff !important;
	border:1px solid #CCCCCC;
	color:inherit;
}

div.accordion div.accBox:first-of-type{
	margin-top: 0px;
}

div.accordion div.accBox{
	color: #000000;
	background-color: #ececec;
	padding: 5px;
	margin:2px 0;
}

div.accordion  .acccontent{
	/* margin: 1px 0; */
	display:none;
}

div.Title404{
	margin: 0 auto;
	padding:50px 0;
	font-size:30px;
	text-align:center;
	line-height: initial;
}

div.Search404 { 
	margin-top:10px;
}

div.Search404 input{
	margin-right:10px;
}

div.Text404{
	font-size:20px;
	margin-bottom:30px;
}

div.Text404 ul{
	list-style-type: disc;
	margin-left:15px;
	
}

div.SubText404{
	font-size:17px;
}

div.Text404 ul li:before{
	content: "";
	margin:5px;	
}

div.noResults{
	margin:35px 0; 
	font-size:18px;
}
div.noResults span{
	color: #0098d9;
}


	/* #menu div.itemLeftMenu:last-child {
		padding: 4px 8px;
		border-bottom: 1px solid #002D67;
	} */

.hiddenForever{
	display:none !important;
}
	
	
/*
LL - End Customised classes
*/

/*
LL - Classes to be used by the website admins
*/

.arrow:before{
	content:"\25BA";
}

.boxFormat{
	background-color: #f1eff0;
	padding:7px;
	overflow: hidden;
	margin: 10px 0;
}

.boxFormat br:first-of-type{
	display:none;
}

.boxFormat img{
	max-width:25%;
	float:right;
	clear:right;
	margin-left:15px;
}

a.ffourbutton{
	background-color: #0098D9;
	color: #ffffff !important;
	padding: 7px 15px;
	font-weight:700;
	display: inline-block;
}

a.ffourbutton:before{
	content: "\25BA";
	margin-right: 5px;
}

blockquote
{
	border: 1px solid black;
	text-align:left;
	padding: 10px;
	margin: 5px 0;
	overflow: hidden;
}

blockquote p:first-of-type{
	margin-top : 0;
}

blockquote p:last-of-type{
	margin-bottom : 0;
}


blockquote .quoteby:first-of-type{
	margin-top:10px;
}

blockquote .quoteby{
	text-align:right;
	color: #0098d9;
	clear: both;
}


/*
LL - End Classes to be used by the website admins
*/



/*
jQuery UI Tabs
*/



.tabs{
	display:none;
	/* clear:both;	 */
	    margin: 10px 0;
		overflow:hidden;
	}

.tabs > ul, .tabs > ol, .tabs > div > ul, .tabs > div > ol {
    margin: 0;
    padding-left: 0;
}

.tabs > ul  li:before, .tabs > div > ul  li:before{
	content:"";
	margin-right: 0px;
}

.ui-tabs-panel{
	background-color: #E6E6E6;
	overflow: hidden;
	padding: 15px 10px;
	color:#000000;
	box-shadow: 2px 3px 2px -1px #d6d5d5;
	background: linear-gradient(#FAFAFA, #DFDFDF);
	background: -ms-linear-gradient(#FAFAFA, #DFDFDF);
	background: -moz-linear-gradient(#FAFAFA, #DFDFDF);
	background: -o-linear-gradient(#FAFAFA, #DFDFDF);
	background: -webkit-linear-gradient(#FAFAFA, #DFDFDF);
	background-color: #e5e5e5;
}

.ui-tabs-panel p:first-child{
	margin-top:0;
}

.ui-tabs-panel p:last-child{
	margin-bottom:0;
}

.ui-state-default{
	background-color: #013565; 
	float: left;
}
.ui-tabs-active, .ui-state-hover{
	background-color: #0098D9;
}

.ui-tabs-nav{
	color:#ffffff;
	font-size:13px;
}

.ui-tabs-nav li a{
	color:inherit !important;
}

.ui-tabs-nav li{
	border-right: 2px solid #ffffff;
    font-size: 12px;
    list-style: none outside none;
    padding: 3px 7px;
	margin: 0;
	text-align: center;
}

.ui-tabs-nav li:last-of-type{
	border-right:none;
}

.ui-tabs-nav{
	overflow:hidden;
	background:transparent;
}


.tabs table{	
	border-collapse: collapse;
	border: 1px solid #013565;
	height: auto !important;
}

.tabs td{
	border-left: 1px solid #013565; 
	border-right: 1px solid #013565;
	border-bottom:none;
	border-top:none;
	padding: 3px 14px;
}

.tabs tr {
	border-bottom: 1px solid #657F98;
	/* border-top: 1px solid #657F98; */
	height:auto !important;
}

.tabs  tr:first-of-type {
	border-top: none;
}

.tabs tr:last-of-type {
	border-bottom: none;
}

.tabs table.struct  tr:first-of-type {
	background-color: #CCCCCC;
}


.tabs table:not(.struct) tr td:last-of-type{
	background-color: #F1EFF0;
	text-align:center;
	width:25% !important;
}

.tabs  table:not(.struct) tr td:first-of-type{
	background-color: #CCCCCC;
	width:75% !important;
}

div.thumbListItem{
	margin: 4px 0;
	background-color: #f1eff0;
	overflow:hidden;
	display:block;
	padding:15px
}


.thumbListItem p{
	margin:0;
}

div.thumbListItem img{
	margin: 0 15px 0 0;
	display:inline;
	float:left;
	max-height:50px;
}

div.thumbListItem  div.thumbListContent{
	font-size:13px;
	color: #000000;
    line-height: 17px;
	
}

div.thumbListItem div.thumbListLink {
	line-height: 12px !important;
	margin-bottom: 4px;
}

div.thumbListItem div a, div.qualArchiveItem a{
	font-weight:700;
	color:#1d5890 !important;
}

#content-archive div.qualArchiveItem, #content-search div.qualArchiveItem{
	margin: 4px 0;
	background-color: #f1eff0;
	overflow:hidden;
	display:block;
	padding:8px 20px;
	font-size:13px;
}

#content-search div.qualArchiveItem a:before{
	content: "\25BA";
	margin-right:10px;	
}

div.otherArea{
	color: #000000;
    float: right;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 20px;
}

div.otherArea a{
	color: #1d5890 !important;
	font-weight:bold;
}

div.separatorLinks, div.otherQuals .content div{
	border-bottom: 1px dashed #013565;
	/* width:100%; */
    margin: 15px 0; 
}

div.staticLink, div.otherQuals .content div{
	color: #013565 !important;
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0;
    margin-left: 20px;
    position: relative;
}

div.staticLink:before, div.otherQuals .content div:before{
	content:"\25BA";
	left: -20px;    
    position: absolute;
}

div.staticLink a{
	color:inherit !important;
}

div.title h1{
	margin: 10px 0 20px 0;
}

div.socialIcons{
	float:right;
	margin-left:15px;
}

div.socialIcons div{
	height: 25px;
    width: 25px;	
}

div.otherQuals{
	margin-top: 20px;
	border:3px solid #CCCCCC;
	background: transparent;
	overflow: hidden;
}

div.otherQuals .title{
	background: none repeat scroll 0 0 #cccccc;
    color: #000000;
    font-size: 15px;
    padding: 5px 10px;
}

div.otherQuals .content{
	padding: 5px 15px;
	color: #002d67;
}

div.otherQuals .content div{
	padding-bottom:5px;
}

div.otherQuals .content div:last-child{
	border-bottom: none;
}

h6 a{
	color: #0098d9;
}

/* element.style {
    height: 152px;
}
p, hr, dl, pre, form, table, address, blockquote {
    margin: 1em 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td, table {
    border: 1px solid #dddddd;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
 */

/*
End jQuery UI Tabs
*/


/* =Responsive 12 Column Grid
    http://demos.cyberchimps.com/responsivepro/responsive-grid/
-------------------------------------------------------------- */
.grid {
	float: left;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.grid-right {
	float: right;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.col-60,
.col-140,
.col-220,
.col-300,
.col-380,
.col-460,
.col-540,
.col-620,
.col-700,
.col-780,
.col-860 {
	display: inline;
	margin-right: 2.127659574468%;
}

.col-60 {
	width: 6.382978723404%;
}

.col-140 {
	width: 14.893617021277%;
}

.col-220 {
	width: 23.404255319149%;
}

.col-300 {
	width: 31.914893617021%;
}

.col-380 {
	width: 40.425531914894%;
}

.col-460 {
	width: 48.936170212766%;
}

.col-540 {
	width: 57.446808510638%;
}

.col-620 {
	width: 65.957446808511%;
}

.col-700 {
	width: 74.468085106383%;
}

.col-780 {
	width: 82.978723404255%;
}

.col-860 {
	width: 91.489361702128%;
}

.col-940 {
	width: 100%;
}

.fit {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* =Visibility
-------------------------------------------------------------- */
.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.none {
	display: none;
}

.hide-desktop {
	display: none;
}

.show-desktop {
	display: block;
}

/* =Responsive Images
-------------------------------------------------------------- */
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.ie8 img {
	height: auto;
	width: auto\9;
}

.ie8 img.size-large {
	max-width: 60%;
	width: auto;
}

/* =Responsive Videos
-------------------------------------------------------------- */
video {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* =Responsive Embeds/Objects
-------------------------------------------------------------- */
embed,
object {
	max-width: 100%;
}

svg:not(:root) {
	overflow: hidden;
}

/* =Links
-------------------------------------------------------------- */
a {
	/* color: #0066cc;
	font-weight: 400; */
	text-decoration: none;
	color:inherit;

}

#content a, div.error404 a, #content-archive a{
	color: #0098d9;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	/*color:inherit;*/
	
	/*color: #444444; 
	text-decoration: none; */
	outline: 0;
	
}

::selection {
	background: #999999;
	color: #ffffff;
	text-shadow: none;
}

/* =Forms
-------------------------------------------------------------- */
label {
	display: inline-block;
	font-weight: 700;
	padding: 2px 0;
}

legend {
	padding: 2px 5px;
}

fieldset {
	border: 1px solid #cccccc;
	margin: 0 0 1.5em;
	padding: 1em 2em;
}


#searchform select,
#searchform input[type="text"],
#searchform input[type="password"],
#searchform input[type="email"] {
	-moz-box-sizing: border-box;
	-moz-border-radius: 2px;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	box-sizing: border-box;
	border: 1px solid #aaaaaa;
	border-bottom-color: #cccccc;
	border-radius: 2px;
	cursor: text;
	margin: 0;
	outline: none;
	padding: 6px 8px;
	vertical-align: middle;
	max-width: 100%;
}

select {
	height: auto;
	max-width: 100%;
}
/*
area,
textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border: 1px solid #aaaaaa;
	border-bottom-color: #cccccc;
	border-radius: 2px;
	height: auto;
	overflow: auto;
	margin: 0;
	outline: none;
	padding: 8px 10px;
	max-width: 100%;
}
*/
map area {
	padding: 0px;
	border: 0px;
}

input,
select {
	cursor: pointer;
}

area:focus,
input:focus,
textarea:focus {
	/* border: 1px solid #66ccff; */
}

input[type='text'],
input[type='password'] {
	cursor: text;
}

/* =IE Forms
-------------------------------------------------------------- */
.ie7 area,
.ie7 select,
.ie7 textarea,
.ie7 input[type="text"],
.ie7 input[type="password"],
.ie7 input[type="email"] {
	width: 96%;
}

/* =IE6 Notice
-------------------------------------------------------------- */
.msie-box {
	background-color: #f9edbe;
	border: 1px solid #f0c36d;
	color: #212121;
	display: block;
	margin: 0 auto;
	max-width: 960px;
	padding: 10px;
	position: absolute;
	top: 60px;
	text-align: center;
	width: 100%;
}

.msie-box a {
	color: #212121;
}

/* =Tables
-------------------------------------------------------------- */
#post-606 th, #post-606 td,#post-606 table {
	 border: 1px solid;
	 padding: 3px 5px !important;
}

#post-606 
td  p {
	 margin: 0;	 
}

table {
	border-collapse: collapse;
	width: 100%;
}

/* =Lists
-------------------------------------------------------------- */
ul {
	/* list-style-type: disc; */
	margin: 0;
	padding: 0;
}

ol {
	line-height: 22px;
	list-style-position: outside;
	list-style-type: decimal;
	margin: 0;
	padding: 0;
}

dt {
	font-weight: 400;
}

/* =Blockquote
-------------------------------------------------------------- */
blockquote {
	/* background: #f9f9f9;
	border: none;
	border-left: 4px solid #d6d6d6;
	margin: 20px;
	overflow: auto;
	padding: 0 0 10px 12px; */
}

blockquote p {
	/* font-family: 'Georgia', 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 18px;
	line-height: 26px; */
}

/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a {
	font-weight: 700;
	line-height: 1.0em;
	word-wrap: break-word;
	color: #013565;
	}

h1 {
	font-size: 21px; /* = 42px */
	margin-bottom: .5em;
	margin-top: .5em;
}

h2 {
	font-size: 15px;
	margin-bottom: .75em;
	margin-top: .75em;
}

h3 {
	font-size:18px;
	/* font-size: 1.875em; /* = 30px */
	/* margin-bottom: .857em;
	margin-top: .857em; */ */
}

h4 {
	font-size: 1.500em; /* = 24px */
	margin-bottom: 1em;
	margin-top: 1em;
}

h5 {
	font-size: 1.125em; /* = 18px */
	margin-bottom: 1.125em;
	margin-top: 1.125em;
}

h6 {
	font-size: 1.000em; /* = 16px */
	margin-bottom: 1.285em;
	margin-top: 1.285em;
}

/* =Margins & Paddings
-------------------------------------------------------------- */
p,
hr,
dl,
pre,
form,
table
/* ,
address,
blockquote  */
{
	margin: 1em 0;
}

th, td {
	padding: .8em;
}

caption {
	padding-bottom: .8em;
}

/* blockquote {
	padding: 0 1em;
}

blockquote:first-child {
	margin: .8em 0;
}
 */
fieldset {
	margin: 1.6em 0;
	padding: 0 1em 1em;
}

legend {
	padding-left: .8em;
	padding-right: .8em;
}

legend+* {
	margin-top: 1em;
}

input,
textarea {
	padding: .3em .4em .15em;
}

select {
	padding: .1em .2em 0;
}

option {
	padding: 0 .4em;
}

dt {
	margin-bottom: .4em;
	margin-top: .8em;
}

ul {
	/* list-style-type: disc; */
}

ol {
	list-style-type: none;
    counter-reset: ol-counter;
}

ul,
ol {
	margin: 0 1.5em 1.5em 0;
	padding-left: 15px;
}

ul li:before{
	color: #0098d9;
    content:'\2022';
    font-size: 20px;
    left: -12px;
    margin-right: 5px;
    position: absolute;
    vertical-align: top;
}

ol li:before{
	content: counter(ol-counter) ". ";
    counter-increment: ol-counter;
	color: #0098d9;
}

ul li {
    margin-left: 12px;
    position: relative;
}

li ul,
li ol {
	margin: 0;
}

form div {
	/* margin-bottom: .8em; */
}

/* =Globals
-------------------------------------------------------------- */
#container {
	margin: 0 auto;
	max-width: 960px;
	min-width: 960px;
	padding: 0 10px;

}

#wrapper {
	/* -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	clear: both;
	margin: 20px auto 20px auto;
	padding: 0 20px 20px 20px;*/
	position: relative; 
}

.front-page #wrapper {
	background-color: transparent;
	border: none;
	margin: 20px auto 20px auto;
	padding: 0;
}

#header {
	margin: 20px 0px 0px;
	
}

#footer {
	clear: both;
	margin: 0 auto;
	/* max-width: 960px; */

}

#footer-wrapper {
	margin: 0;
	padding: 0;
}

/* =Header
-------------------------------------------------------------- */
#logo {
	float: left;
	margin: 0px 20px 20px ;
}

#logo .logoImage{
	
}

.site-name {
	display: block;
	font-size: 2.063em; /* = 33px */
	line-height: 1.0em;
	padding-top: 20px;
}

.site-name a {
	color: #333333;
	font-weight: 700;
}

.site-description {
	color: #afafaf;
	display: block;
	font-size: 0.875em; /* = 14px */
	margin: 10px 0;
}

/* =Content
-------------------------------------------------------------- */
#content {
	padding:10px 20px;
}

#content-full {
	/* margin-top: 40px; */
	margin-bottom: 20px;
}

#content-blog {
	/* margin-top: 40px; */
	margin-bottom: 20px;
}

#content-images {
	margin-bottom: 20px;
}

#content-search {
	margin-bottom: 20px;
	/* margin-top: 20px; */
}

#content-archive {
	/* margin-top: 40px; */
	margin-bottom: 20px;
}

#content-sitemap {
	/* margin-top: 40px; */
	margin-bottom: 20px;
}

#content-sitemap a {
	font-size: 12px;
}

#content .sticky {
	clear: both;
}

#content .sticky p {
}

/* =Templates (Landing Page)
-------------------------------------------------------------- */
.page-template-landing-page-php .menu,
.page-template-landing-page-php .top-menu,
.page-template-landing-page-php .main-nav,
.page-template-landing-page-php .footer-menu,
.page-template-landing-page-php .sub-header-menu {
	display: none;
}

/* =Author Meta (Author's Box)
-------------------------------------------------------------- */
#author-meta {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #f9f9f9;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	clear: both;
	display: block;
	margin: 30px 0 40px 0;
	padding: 10px;
	overflow: hidden;
}

#author-meta img {
	float: left;
	padding: 10px 15px 0 5px;
}

#author-meta p {
	margin: 0;
	padding: 5px;
}

#author-meta .about-author {
	font-weight: 700;
	margin: 10px 0 0 0;
}

/* =Featured Content
-------------------------------------------------------------- */
#featured {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding-bottom: 40px;
	width: 99.893617021277%;
}

#featured p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	padding: 0 40px 0 40px;
	text-align: center;
}

#featured-image {
	margin: 40px 0 0 0;
}

#featured-image .fluid-width-video-wrapper {
	margin-left: -20px;
}

.featured-image img {
	margin-top: 44px;
}

/* =Post
-------------------------------------------------------------- */
.comments-link {
	font-size: 12px;
}

#cancel-comment-reply-link {
	color: #990000;
}

.post-data {
	clear: both;
	font-size: 12px;
	font-weight: 700;
	margin-top: 20px;
}

.post-data a {
	color: #111111;
}

.post-entry {
	clear: both;
	margin-bottom:15px;
	padding-top: 10px;
	/* overflow:hidden; */
}

.post-meta {
	clear: both;
	color: #9f9f9f;
	font-size: 12px;
	margin-bottom: 10px;
}

.post-edit {
	clear: both;
	display: block;
	font-size: 12px;
	margin: 1.5em 0;
}

.post-search-terms {
	clear: both;
}

.read-more {
	clear: both;
	font-weight: 700;
}

.attachment-entry {
	clear: both;
	text-align: center;
}

/* =bbPress
    bbPress has its own breadcrumb lists
-------------------------------------------------------------- */
.bbPress .breadcrumb-list {
	display: none;
}

/* =Symbols
-------------------------------------------------------------- */
.ellipsis {
	color: #aaaaaa;
	font-size: 18px;
	margin-left: 5px;
}

.form-allowed-tags {
	display: none;
	font-size: 10px;
}

/* =Widgets
-------------------------------------------------------------- */
.widget-wrapper {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin: 0 0 20px;
	padding: 20px;
}

.widget-wrapper select,
.widget-wrapper input[type="text"],
.widget-wrapper input[type="password"],
.widget-wrapper  input[type="email"] {
	width: 75%;
}

#widgets {
	margin-top: 40px;
}

#widgets a {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#widgets form {
	margin: 0;
}

#widgets ul,
#widgets ol {
	padding: 0 0 0 20px;
}

#widgets ul li a {
	display: inline;
	text-decoration: none;
}

#widgets .widget-title img {
	float: right;
	height: 11px;
	position: relative;
	top: 4px;
	width: 11px;
}

#widgets .rss-date {
	line-height: 18px;
	padding: 6px 12px;
}

#widgets .rssSummary {
	padding: 10px;
}

#widgets cite {
	font-style: normal;
	line-height: 18px;
	padding: 6px 12px;
}

#widgets .tagcloud,
#widgets .textwidget {
	display: block;
	line-height: 1.5em;
	margin: 0;
	word-wrap: break-word;
}

#widgets .textwidget a {
	display: inline;
}

#widgets ul .children {
	padding: 0 0 0 10px;
}

#widgets .author {
	font-weight: 700;
	padding-top: 4px;
}

.widget_archive select, #cat {
	display: block;
	margin: 0 15px 0 0;
}

#colophon-widget ul {
}

.colophon-widget {
	background: none;
	min-height: 0;
}

.colophon-widget select,
.colophon-widget input[type="text"],
.colophon-widget input[type="password"],
.colophon-widget input[type="email"] {
	width: 100%;
}

#top-widget {
}

.top-widget {
	background: none;
	border: none;
	clear: right;
	float: right;
	min-height: 0;
	padding: 0 3px 0 0;
	text-align: right;
	width: 45%;
}

.top-widget ul {
	padding: 0;
}

.top-widget select,
.top-widget input[type="text"],
.top-widget input[type="password"],
.top-widget input[type="email"] {
	width: auto;
}

.top-widget #searchform {
	margin: 0;
}

/* =Titles
-------------------------------------------------------------- */
.featured-title {
	font-size: 60px;
	letter-spacing: -1px;
	margin: 0;
	padding-top: 40px;
	text-align: center;
}

.featured-subtitle {
	padding: 0 10px;
	text-align: center;
}

.widget-title h3,
.widget-title-home h3 {
	display: block;
	font-size: 24px;
	font-weight: 700;
	line-height: 23px;
	margin: 0;
	padding: 0 0 20px 0;
	text-align: left;
}

.top-widget .widget-title h3 {
	font-size: 14px;
	padding: 0;
	text-align: right;
}

.widget-title a {
	border-bottom: none;
	padding: 0 !important;
}

.title-404 {
	color: #993333;
}

/* =404 Page
-------------------------------------------------------------- */

.error404{
	line-height: initial;
}

.error404 select,
.error404 input[type="text"],
.error404 input[type="password"],
.error404 input[type="email"] {
	width: auto;
}

/* =Accessibility
-------------------------------------------------------------- */
.screen-reader-text{
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

/* =Skip Links
-------------------------------------------------------------- */
.skip-container {
	display: block;
	padding: 0.5em 0.5em 0.5em 0;
	position: relative;
}

.skip-link {
	background: #f5f5f5;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: right;
	font-size: 0.8125em;
	margin-left: -100%;
	padding: 0.5em;
	text-transform: uppercase;
}

.skip-link:hover,
.skip-link:active,
.skip-link:focus {
	border: 1px solid #666;
}

.custom-background .site {
	-webkit-box-shadow: 0 -5px 5px 4px #d5d5d5;
	-moz-box-shadow: 0 -5px 5px 4px #d5d5d5;
	box-shadow: 0 -5px 5px 4px #d5d5d5;
	margin: 0 auto;
}


/* =Top Menu
-------------------------------------------------------------- */
.top-menu {
	float: right;
	margin: 10px 0;
	padding: 0;
}

.top-menu li {
	display: inline;
	list-style-type: none;
}

.top-menu li a {
	border-left: 1px solid #cccccc;
	color: #333333;
	font-size: 11px;
	padding: 0 4px 0 8px;
}

.top-menu > li:first-child > a {
	border-left: none;
}

.top-menu li a:hover {
	color: #333333;
}

/* =Header Menu (Primary)
-------------------------------------------------------------- */
.menu {
	/* background-color: #585858;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
	background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
	background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
	background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
	background-image: -o-linear-gradient(top, #585858, #3d3d3d);
	background-image: linear-gradient(top, #585858, #3d3d3d); */
	background-color: transparent;
	clear: both;
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#585858, endColorstr=#3d3d3d); */
	margin: 0 auto;
}

.main-nav {
	clear: both;
}

.menu,
.menu ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li:before{
	content: "";
	margin-right:0;
}

.menu li {
	background-color:#013565;
	border: 0;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
	text-align:center;
	width:160px;
}

.menu li:hover {
	white-space: normal;
	z-index: 10000;
}

.menu li li {
	float: none;
}

.menu ul {
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 10;
}

.menu li:hover > ul {
	top: 100%;
	visibility: visible;
}

.menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.menu:after,
.menu ul:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.menu,
.menu ul {
	min-height: 0;
}

.menu ul,
.menu ul ul {
	margin: 0;
	padding: 0;
}

.menu ul li a:hover,
.menu li li a:hover {
	color: #484848;
	text-decoration: none;
}

.menu ul {
	margin-top: 1px;
	min-width: 15em;
	width: auto;
}

.menu a {
	border-left: 2px solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: 700;
	/* height: 35px; */
	line-height: 35px;
	margin: 0;
	/* padding: 0 0.9em; */
	position: relative;
	text-decoration: none;
	/* text-shadow: 0 -1px 0 #000000; */
	white-space: nowrap;
}

.menu a:hover {
	/* background-color: #808080;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#363636));
	background-image: -webkit-linear-gradient(top, #808080, #363636);
	background-image: -moz-linear-gradient(top, #808080, #363636);
	background-image: -ms-linear-gradient(top, #808080, #363636);
	background-image: -o-linear-gradient(top, #808080, #363636);
	background-image: linear-gradient(top, #808080, #363636);
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#808080, endColorstr=#363636); */
	background-color: #0098D9;
}

ul.menu > li:hover {
	background-color: #363636;
	color: #ffffff;
}

.menu .current_page_item a,
.menu .current-menu-item a {
	background-color: #0098D9;
}

.front-page .menu .current_page_item a {
	background: none;
	background-color: transparent;
	background-image: none;
	filter: none;
}

.menu li li {
	background: #ffffff;
	background-image: none;
	border: 1px solid #e5e5e5;
	color: #444444;
	filter: none;
	margin: -1px 0 1px 0;
	width: auto;
	
}

.menu li li a {
	background: transparent !important;
	border: none;
	color: #444444;
	font-size: 12px;
	font-weight: 400;
	height: auto;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
	text-shadow: none;
	white-space: nowrap;
}

.menu li li a:hover {
	background: #f5f5f5 !important;
	background-image: none;
	border: none;
	color: #444444;
	filter: none;
}

.menu li li:hover {
	background: #f5f5f5 !important;
	filter: none;
}

.menu ul > li + li {
	border-top: 0;
}

.menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.menu > li:first-child > a {
	border-left: none;
}

.menu a#responsive_menu_button {
	display: none;
}

.main-nav #responsive_current_menu_item {
	display: none;
}

/*.js .main-nav .menu {*/
/*display: block;*/
/*}*/

/* =Primary Main Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .menu ul {
	/* background: url(core/images/ie7-fix.gif) repeat; */
}

.ie7 .menu li li a {
	min-width: 100%;
}

/* =Sub-Header Menu
-------------------------------------------------------------- */
.sub-header-menu {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-top: none;
	clear: both;
	margin: 0 auto;
}

.sub-header-menu,
.sub-header-menu ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sub-header-menu li {
	border: 0;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
}

.sub-header-menu li:hover {
	white-space: normal;
	z-index: 10000;
}

.sub-header-menu li li {
	float: none;
}

.sub-header-menu ul {
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 10;
}

.sub-header-menu li:hover > ul {
	top: 100%;
	visibility: visible;
}

.sub-header-menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.sub-header-menu:after,
.sub-header-menu ul:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.sub-header-menu,
.sub-header-menu ul {
	min-height: 0;
}

.sub-header-menu ul,
.sub-header-menu ul ul {
	margin: 0;
	padding: 0;
}

.sub-header-menu ul li a:hover,
.sub-header-menu li li a:hover {
	color: #484848;
	text-decoration: none;
}

.sub-header-menu ul {
	margin-top: 1px;
	min-width: 15em;
	width: auto;
}

.sub-header-menu a {
	border-left: 1px solid #e5e5e5;
	color: #333333;
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: 400;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0 0.9em;
	position: relative;
	text-decoration: none;
	text-shadow: none;
}

.sub-header-menu a:hover {
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-color: #f9f9f9;
	background-clip: padding-box;
}

.sub-header-menu .current_page_item a,
.sub-header-menu .current-menu-item a {
	background-color: #f9f9f9;
}

.sub-header-menu li li {
	background: #ffffff;
	background-image: none;
	border: 1px solid #e5e5e5;
	color: #444444;
	filter: none;
	margin: -1px 0 1px 0;
	width: auto;
}

.sub-header-menu li li a {
	border: none;
	color: #444444;
	font-size: 12px;
	font-weight: 400;
	height: auto;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
	text-shadow: none;
}

.sub-header-menu li li a:hover {
	background: #f9f9f9;
	background-image: none;
	border: none;
	color: #444444;
	filter: none;
}

.sub-header-menu ul > li + li {
	border-top: 0;
}

.sub-header-menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.sub-header-menu > li:first-child > a {
	border-left: none;
}

.sub-header-menu ul.children a,
.sub-header-menu .current_page_ancestor,
.sub-header-menu .current_page_ancestor ul a {
	background: none;
	background-image: none;
	filter: none;
}

/* =Sub Header Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .sub-header-menu ul {
	background: url(core/images/ie7-fix.gif) repeat;
}

.ie7 .sub-header-menu li li a {
	min-width: 100%;
}

/* =Footer Menu
-------------------------------------------------------------- */
.footer-menu {
	margin-left: 0;
	padding: 0;
}

.footer-menu li {
	display: inline;
	list-style-type: none;
}

.footer-menu li a {
	border-left: 1px solid #cccccc;
	color: #333333;
	padding: 0 8px;
}

.footer-menu li a:hover {
	color: #222222;
}

.footer-menu > li:first-child > a {
	border-left: none;
	padding: 0 8px 0 0;
}

/* =Navigation
-------------------------------------------------------------- */
.navigation {
	/* color: #111111;
	display: block;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	margin: 20px 0;
	padding: 0 5px; */
}

.navigation a {
	/* color: #aaaaaa;
	 */padding: 4px 10px;
}

.navigation a:hover {
	color: #111111;
	text-decoration: none;
}

.navigation .previous {
	float: right;
}

.navigation .next {
	float: left;
}

.navigation .bracket {
	font-size: 36px;
}

/* =Pagination (pages)
-------------------------------------------------------------- */
.pagination {
	clear: both;
	display: block;
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0;
	padding: 5px 0;
}

.pagination a {
	text-decoration: none;
}

/* =Breadcrumb Lists
-------------------------------------------------------------- */
.breadcrumb-list {
	font-size: 12px;
}

/* =Comments
-------------------------------------------------------------- */
#commentform {
	margin: 0;
}

.commentlist {
	border-bottom: 1px solid #e5e5e5;
	list-style: none;
	margin: 0;
	padding: 0;
}

.commentlist ol {
	list-style: decimal;
}

.commentlist li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #ffffff;
	border-radius: 4px;
	margin: 0;
}

.commentlist .bypostauthor {
}

.commentlist li cite {
	color: #111111;
	font-size: 1.1em;
	font-style: normal;
	font-weight: 400;
}

.commentlist li.alt {
	background: #f9f9f9;
}

.commentlist .children {
	list-style: none;
	margin-left: 10px;
	padding: 10px;
}

.commentlist .avatar {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
	margin-right: 10px;
	padding: 0;
	vertical-align: middle;
}

.comment-author .fn {
}

.comment-author .says {
	color: #999999;
}

.comment-body .comment-meta {
	color: #999999;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.comment-body .comment-meta a {
	font-size: 11px;
}

.comment-body {
	clear: both;
	padding: 10px;
}

.comment-body p {
	clear: both;
}

.comment-body .reply {
}

.pingback, .trackback {
	list-style: none;
	margin: 20px 0;
}

.pingback cite,
.trackback cite {
	font-style: normal;
}

#pings,
#comments {
	text-align: left;
}

#respond {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
	background-image: linear-gradient(top, #ffffff, #eaeaea);
	border: 1px solid #cccccc;
	border-bottom-color: #aaaaaa;
	border-radius: 4px;
	clear: both;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
	margin-top: 15px;
	padding: 10px 20px 50px;
}

#respond label {
	display: inline;
}

.reply {
	margin: 10px 0;
}

.comment-form-url input,
.comment-form-email input,
.comment-form-author input,
.comment-form-comment textarea {
	display: block;
	width: 100%;
}

.nocomments {
	color: #999999;
	font-size: .9em;
	text-align: center;
}

/* =Gallery
-------------------------------------------------------------- */
/* Normal */
.gallery-columns-1 .gallery-item {
	max-width: 600px;
}

.gallery-columns-2 .gallery-item {
	max-width: 300px;
}

.gallery-columns-3 .gallery-item {
	max-width: 200px;
}

.gallery-columns-4 .gallery-item {
	max-width: 150px;
}

.gallery-columns-5 .gallery-item {
	max-width: 120px;
}

.gallery-columns-6 .gallery-item {
	max-width: 100px;
}

.gallery-columns-7 .gallery-item {
	max-width: 85px;
}
.gallery-columns-8 .gallery-item {
	max-width: 75px;
}

.gallery-columns-9 .gallery-item {
	max-width: 66px;
}

/* Full Width */
.page-template-full-width-page-php .gallery-columns-1 .gallery-item,
.page-template-landing-page.php .gallery-columns-1 .gallery-item {
	max-width: 900px;
}

.page-template-full-width-page-php .gallery-columns-2 .gallery-item,
.page-template-landing-page.php .gallery-columns-2 .gallery-item {
	max-width: 450px;
}

.page-template-full-width-page-php .gallery-columns-3 .gallery-item,
.page-template-landing-page.php .gallery-columns-3 .gallery-item {
	max-width: 300px;
}

.page-template-full-width-page-php .gallery-columns-4 .gallery-item,
.page-template-landing-page.php .gallery-columns-4 .gallery-item {
	max-width: 225px;
}

.page-template-full-width-page-php .gallery-columns-5 .gallery-item,
.page-template-landing-page.php .gallery-columns-5.gallery-item {
	max-width: 180px;
}

.page-template-full-width-page-php .gallery-columns-6 .gallery-item,
.page-template-landing-page.php .gallery-columns-6 .gallery-item {
	max-width: 150px;
}

.page-template-full-width-page-php .gallery-columns-7 .gallery-item,
.page-template-landing-page.php .gallery-columns-7 .gallery-item {
	max-width: 125px;
}

.page-template-full-width-page-php .gallery-columns-8 .gallery-item,
.page-template-landing-page.php .gallery-columns-8 .gallery-item {
	max-width: 112.5px;
}

.page-template-full-width-page-php .gallery-columns-9 .gallery-item,
.page-template-landing-page.php .gallery-columns-9 .gallery-item {
	max-width: 100px;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	/* margin: 5px 20px 20px 0; */
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 20px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	/* margin: 5px 20px 20px 0; */
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #f9f9f9;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	padding: 13px 10px 10px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	/* margin: 5px 20px 20px 0; */
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 12px;
	line-height: 1.5em;
	margin: 0;
	padding: 10px;
}

img.wp-smiley {
	vertical-align: middle;
}

/* =WordPress Gallery
-------------------------------------------------------------- */
.gallery {
	margin: 0 auto 18px;
}

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	max-width: 155px;
}

.gallery img {
	border: 1px solid #dddddd;
}

.gallery .gallery-caption {
	font-size: 12px;
	margin: 0 0 12px;
}

.gallery dl {
	margin: 0;
}

.gallery br+br {
	display: none;
}

.attachment-gallery img {
	background: #ffffff;
	border: 1px solid #f0f0f0;
	display: block;
	height: auto;
	margin: 15px auto;
	max-width: 96%;
	padding: 5px;
	width: auto;
}

.gallery-meta .iso,
.gallery-meta .camera,
.gallery-meta .shutter,
.gallery-meta .aperture,
.gallery-meta .full-size,
.gallery-meta .focal-length {
	display: block;
}

/* =Post Thumbnails
-------------------------------------------------------------- */
img.wp-post-image,
img.attachment-full,
img.attachment-large,
img.attachment-medium,
img.attachment-thumbnail {
	display: block;
	margin: 15px auto;
	width: auto;
}

/* =Buttons
-------------------------------------------------------------- */
a.button,
input[type='reset'],
input[type='button'],
#searchform input[type='submit'] 	
 {
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-border-radius: 2px;
	background-color: #f9f9f9; /* Alabaster */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border: 1px solid #dddddd;
	border-radius: 2px;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	margin: 0;
	padding: 4px 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
	vertical-align: middle;
	white-space: nowrap;
}

a.button:hover,
input[type='reset']:hover,
input[type='button']:hover
/* ,
input[type='submit']:hover */
 {
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -o-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: linear-gradient(top, #ffffff, #f1f1f1);
	border: 1px solid #dddddd;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	color: #333333;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f1f1f1);
}

a.button:active,
input[type='reset']:active,
input[type='button']:active,
input[type='submit']:active {
	-moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
	box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);
}

/* =Buttons (Call to Action)
-------------------------------------------------------------- */
.call-to-action {
	text-align: center;
}

.call-to-action a.button {
	font-size: 24px;
	padding: 15px 35px;
}

.call-to-action a.button:hover {
	text-decoration: none;
}

.ie7 .call-to-action a.button {
	padding: 11px 35px 19px 35px;
}

/* =Buttons (Sizes)
-------------------------------------------------------------- */
.small a.button {
	font-size: 10px;
	padding: 3px 6px;
}

.medium a.button {
	font-size: 16px;
	padding: 8px 16px;
}

.large a.button {
	font-size: 18px;
	padding: 10px 35px;
}

.xlarge a.button {
	font-size: 24px;
	padding: 12px 55px;
}

/* =Buttons (Colors)
-------------------------------------------------------------- */
a.blue {
	background-color: #1874cd; /* Dodger Blue */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -o-linear-gradient(top, #4f9eea, #1874cd);
	background-image: linear-gradient(top, #4f9eea, #1874cd);
	border: 1px solid #115290;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea, endColorstr=#1874cd);
	text-shadow: 0 -1px 0 #115290;
}

a.blue:hover {
	background-color: #7db7f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7db7f0), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -moz-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -ms-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -o-linear-gradient(top, #7db7f0, #1874cd);
	background-image: linear-gradient(top, #7db7f0, #1874cd);
	border: 1px solid #115290;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7db7f0, endColorstr=#1874cd);
	text-shadow: 0 -1px 0 #115290;
}

a.red {
	background-color: #cd0000; /* Red 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff2323), to(#cd0000));
	background-image: -webkit-linear-gradient(top, #ff2323, #cd0000);
	background-image: -moz-linear-gradient(top, #ff2323, #cd0000);
	background-image: -ms-linear-gradient(top, #ff2323, #cd0000);
	background-image: -o-linear-gradient(top, #ff2323, #cd0000);
	background-image: linear-gradient(top, #ff2323, #cd0000);
	border: 1px solid #890000;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2323, endColorstr=#cd0000);
	text-shadow: 0 -1px 0 #890000;
}

a.red:hover {
	background-color: #ff5656;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5656), to(#cd0000));
	background-image: -webkit-linear-gradient(top, #ff5656, #cd0000);
	background-image: -moz-linear-gradient(top, #ff5656, #cd0000);
	background-image: -ms-linear-gradient(top, #ff5656, #cd0000);
	background-image: -o-linear-gradient(top, #ff5656, #cd0000);
	background-image: linear-gradient(top, #ff5656, #cd0000);
	border: 1px solid #890000;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5656, endColorstr=#cd0000);
	text-shadow: 0 -1px 0 #890000;
}

a.orange {
	background-color: #ff7f00; /* Dark Orange 1 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaa55), to(#ff7f00));
	background-image: -webkit-linear-gradient(top, #ffaa55, #ff7f00);
	background-image: -moz-linear-gradient(top, #ffaa55, #ff7f00);
	background-image: -ms-linear-gradient(top, #ffaa55, #ff7f00);
	background-image: -o-linear-gradient(top, #ffaa55, #ff7f00);
	background-image: linear-gradient(top, #ffaa55, #ff7f00);
	border: 1px solid #bb5d00;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaa55, endColorstr=#ff7f00);
	text-shadow: 0 -1px 0 #bb5d00;
}

a.orange:hover {
	background-color: #ffc388;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc388), to(#ff7f00));
	background-image: -webkit-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -moz-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -ms-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -o-linear-gradient(top, #ffc388, #ff7f00);
	background-image: linear-gradient(top, #ffc388, #ff7f00);
	border: 1px solid #bb5d00;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc388, endColorstr=#ff7f00);
	text-shadow: 0 -1px 0 #bb5d00;
}

a.yellow {
	background-color: #ecca06; /* Yellow Gold */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff2aa), to(#ffd700));
	background-image: -webkit-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -moz-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -ms-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -o-linear-gradient(top, #fff2aa, #ffd700);
	background-image: linear-gradient(top, #fff2aa, #ffd700);
	border: 1px solid #bb9e00;
	color: #161300;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff2aa, endColorstr=#ffd700);
	text-shadow: 0 1px 0 #ffffff;
}

a.yellow:hover {
	background-color: #fffadd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fffadd), to(#ffd700));
	background-image: -webkit-linear-gradient(top, #fffadd, #ffd700);
	background-image: -moz-linear-gradient(top, #fffadd, #ffd700);
	background-image: -ms-linear-gradient(top, #fffadd, #ffd700);
	background-image: -o-linear-gradient(top, #fffadd, #ffd700);
	background-image: linear-gradient(top, #fffadd, #ffd700);
	border: 1px solid #bb9e00;
	color: #161300;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffadd, endColorstr=#ffd700);
	text-shadow: 0 1px 0 #ffffff;
}

a.green {
	background-color: #2e8b57; /* Sea Green 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4bc380), to(#2e8b57));
	background-image: -webkit-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -moz-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -ms-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -o-linear-gradient(top, #4bc380, #2e8b57);
	background-image: linear-gradient(top, #4bc380, #2e8b57);
	border: 1px solid #1d5837;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4bc380, endColorstr=#2e8b57);
	text-shadow: 0 -1px 0 #1d5837;
}

a.green:hover {
	background-color: #71d09b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#71d09b), to(#2e8b57));
	background-image: -webkit-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -moz-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -ms-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -o-linear-gradient(top, #71d09b, #2e8b57);
	background-image: linear-gradient(top, #71d09b, #2e8b57);
	border: 1px solid #1d5837;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#71d09b, endColorstr=#2e8b57);
	text-shadow: 0 -1px 0 #1d5837;
}

a.olive {
	background-color: #838b83; /* Honey Dew 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e000), to(#838b83));
	background-image: -webkit-linear-gradient(top, #afb4af, #838b83);
	background-image: -moz-linear-gradient(top, #afb4af, #838b83);
	background-image: -ms-linear-gradient(top, #afb4af, #838b83);
	background-image: -o-linear-gradient(top, #afb4af, #838b83);
	background-image: linear-gradient(top, #afb4af, #838b83);
	border: 1px solid #626862;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#afb4af, endColorstr=#838b83);
	text-shadow: 0 -1px 0 #626862;
}

a.olive:hover {
	background-color: #c9cdc9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c9cdc9), to(#838b83));
	background-image: -webkit-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -moz-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -ms-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -o-linear-gradient(top, #c9cdc9, #838b83);
	background-image: linear-gradient(top, #c9cdc9, #838b83);
	border: 1px solid #626862;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c9cdc9, endColorstr=#838b83);
	text-shadow: 0 -1px 0 #626862;
}

a.purple {
	background-color: #5d478b; /* Medium Purple 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8771b6), to(#5d478b));
	background-image: -webkit-linear-gradient(top, #8771b6, #5d478b);
	background-image: -moz-linear-gradient(top, #8771b6, #5d478b);
	background-image: -ms-linear-gradient(top, #8771b6, #5d478b);
	background-image: -o-linear-gradient(top, #8771b6, #5d478b);
	background-image: linear-gradient(top, #8771b6, #5d478b);
	border: 1px solid #3f305e;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8771b6, endColorstr=#5d478b);
	text-shadow: 0 -1px 0 #3f305e;
}

a.purple:hover {
	background-color: #a492c8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a492c8), to(#5d478b));
	background-image: -webkit-linear-gradient(top, #a492c8, #5d478b);
	background-image: -moz-linear-gradient(top, #a492c8, #5d478b);
	background-image: -ms-linear-gradient(top, #a492c8, #5d478b);
	background-image: -o-linear-gradient(top, #a492c8, #5d478b);
	background-image: linear-gradient(top, #a492c8, #5d478b);
	border: 1px solid #3f305e;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a492c8, endColorstr=#5d478b);
	text-shadow: 0 -1px 0 #3f305e;
}

a.pink {
	background-color: #cd1076; /* Deep Pink 3 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f042a0), to(#cd1076));
	background-image: -webkit-linear-gradient(top, #f042a0, #cd1076);
	background-image: -moz-linear-gradient(top, #f042a0, #cd1076);
	background-image: -ms-linear-gradient(top, #f042a0, #cd1076);
	background-image: -o-linear-gradient(top, #f042a0, #cd1076);
	background-image: linear-gradient(top, #f042a0, #cd1076);
	border: 1px solid #8e0b52;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f042a0, endColorstr=#cd1076);
	text-shadow: 0 -1px 0 #8e0b52;
}

a.pink:hover {
	background-color: #f471b8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f471b8), to(#cd1076));
	background-image: -webkit-linear-gradient(top, #f471b8, #cd1076);
	background-image: -moz-linear-gradient(top, #f471b8, #cd1076);
	background-image: -ms-linear-gradient(top, #f471b8, #cd1076);
	background-image: -o-linear-gradient(top, #f471b8, #cd1076);
	background-image: linear-gradient(top, #f471b8, #cd1076);
	border: 1px solid #8e0b52;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f471b8, endColorstr=#cd1076);
	text-shadow: 0 -1px 0 #8e0b52;
}

a.brick {
	background-color: #b22222; /* Fire Brick */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4c4c), to(#b22222));
	background-image: -webkit-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -moz-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -ms-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -o-linear-gradient(top, #dd4c4c, #b22222);
	background-image: linear-gradient(top, #dd4c4c, #b22222);
	border: 1px solid #791717;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd4c4c, endColorstr=#b22222);
	text-shadow: 0 -1px 0 #791717;
}

a.brick:hover {
	background-color: #e57777;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e57777), to(#b22222));
	background-image: -webkit-linear-gradient(top, #e57777, #b22222);
	background-image: -moz-linear-gradient(top, #e57777, #b22222);
	background-image: -ms-linear-gradient(top, #e57777, #b22222);
	background-image: -o-linear-gradient(top, #e57777, #b22222);
	background-image: linear-gradient(top, #e57777, #b22222);
	border: 1px solid #791717;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e57777, endColorstr=#b22222);
	text-shadow: 0 -1px 0 #791717;
}

a.gold {
	background-color: #8b6508; /* Dark Golden Rod 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#db9f0d), to(#8b6508));
	background-image: -webkit-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -moz-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -ms-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -o-linear-gradient(top, #db9f0d, #8b6508);
	background-image: linear-gradient(top, #db9f0d, #8b6508);
	border: 1px solid #6b4e06;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db9f0d, endColorstr=#8b6508);
	text-shadow: 0 -1px 0 #6b4e06;
}

a.gold:hover {
	background-color: #f3b828;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f3b828), to(#8b6508));
	background-image: -webkit-linear-gradient(top, #f3b828, #8b6508);
	background-image: -moz-linear-gradient(top, #f3b828, #8b6508);
	background-image: -ms-linear-gradient(top, #f3b828, #8b6508);
	background-image: -o-linear-gradient(top, #f3b828, #8b6508);
	background-image: linear-gradient(top, #f3b828, #8b6508);
	border: 1px solid #6b4e06;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3b828, endColorstr=#8b6508);
	text-shadow: 0 -1px 0 #6b4e06;
}

a.brown {
	background-color: #8b4513; /* Saddle Brown */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d66a1d), to(#8b4513));
	background-image: -webkit-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -moz-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -ms-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -o-linear-gradient(top, #d66a1d, #8b4513);
	background-image: linear-gradient(top, #d66a1d, #8b4513);
	border: 1px solid #4f270b;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d66a1d, endColorstr=#8b4513);
	text-shadow: 0 -1px 0 #4f270b;
}

a.brown:hover {
	background-color: #8b4513;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e58541), to(#8b4513));
	background-image: -webkit-linear-gradient(top, #e58541, #8b4513);
	background-image: -moz-linear-gradient(top, #e58541, #8b4513);
	background-image: -ms-linear-gradient(top, #e58541, #8b4513);
	background-image: -o-linear-gradient(top, #e58541, #8b4513);
	background-image: linear-gradient(top, #e58541, #8b4513);
	border: 1px solid #4f270b;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e58541, endColorstr=#8b4513);
	text-shadow: 0 -1px 0 #4f270b;
}

a.silver {
	background-color: #c0c0c0; /* Silver */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c0c0c0));
	background-image: -webkit-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -moz-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -ms-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -o-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: linear-gradient(top, #eaeaea, #c0c0c0);
	border: 1px solid #9e9e9e;
	color: #444444;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#c0c0c0);
	text-shadow: 0 1px 0 #ffffff;
}

a.silver:hover {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c0c0c0));
	background-image: -webkit-linear-gradient(top, #ffffff, #c0c0c0);
	background-image: -moz-linear-gradient(top, #ffffff, #c0c0c0);
	background-image: -ms-linear-gradient(top, #ffffff, #c0c0c0);
	background-image: -o-linear-gradient(top, #ffffff, #c0c0c0);
	background-image: linear-gradient(top, #ffffff, #c0c0c0);
	border: 1px solid #9e9e9e;
	color: #444444;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#c0c0c0);
	text-shadow: 0 1px 0 #ffffff;
}

a.gray {
	background-color: #696969; /* Dim Gray */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#696969));
	background-image: -webkit-linear-gradient(top, #939393, #696969);
	background-image: -moz-linear-gradient(top, #939393, #696969);
	background-image: -ms-linear-gradient(top, #939393, #696969);
	background-image: -o-linear-gradient(top, #939393, #696969);
	background-image: linear-gradient(top, #939393, #696969);
	border: 1px solid #474747;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#939393, endColorstr=#696969);
	text-shadow: 0 -1px 0 #474747;
}

a.gray:hover {
	background-color: #adadad;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#696969));
	background-image: -webkit-linear-gradient(top, #adadad, #696969);
	background-image: -moz-linear-gradient(top, #adadad, #696969);
	background-image: -ms-linear-gradient(top, #adadad, #696969);
	background-image: -o-linear-gradient(top, #adadad, #696969);
	background-image: linear-gradient(top, #adadad, #696969);
	border: 1px solid #474747;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#adadad, endColorstr=#696969);
	text-shadow: 0 -1px 0 #474747;
}

a.black {
	background-color: #080808; /* Black */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#080808));
	background-image: -webkit-linear-gradient(top, #323232, #080808);
	background-image: -moz-linear-gradient(top, #323232, #080808);
	background-image: -ms-linear-gradient(top, #323232, #080808);
	background-image: -o-linear-gradient(top, #323232, #080808);
	background-image: linear-gradient(top, #323232, #080808);
	border: 1px solid #000000;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#323232, endColorstr=#080808);
	text-shadow: 0 -1px 0 #000000;
}

a.black:hover {
	background-color: #4c4c4c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#080808));
	background-image: -webkit-linear-gradient(top, #4c4c4c, #080808);
	background-image: -moz-linear-gradient(top, #4c4c4c, #080808);
	background-image: -ms-linear-gradient(top, #4c4c4c, #080808);
	background-image: -o-linear-gradient(top, #4c4c4c, #080808);
	background-image: linear-gradient(top, #4c4c4c, #080808);
	border: 1px solid #000000;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c4c4c, endColorstr=#080808);
	text-shadow: 0 -1px 0 #000000;
}

/* =Info Boxes
-------------------------------------------------------------- */
.info-box {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin: 20px 0;
	padding: 15px;
	text-align: left;
}

.alert {
	background-color: #faebeb;
	border: 1px solid #dc7070;
	color: #212121;
}

.address {
	background-color: #f6f5ef;
	border: 1px solid #cdc9a5;
	color: #212121;
}

.notice {
	background-color: #fbf9e9;
	border: 1px solid #e3cf57;
	color: #212121;
}

.success {
	background-color: #f9fde8;
	border: 1px solid #a2bc13;
	color: #212121;
}

.download {
	background-color: #fff4e5;
	border: 1px solid #ff9912;
	color: #212121;
}

.information {
	background-color: #eef3f6;
	border: 1px solid #6ca6cd;
	color: #212121;
}

.required {
	color: #d5243f;
}

/* =WooCommerce
-------------------------------------------------------------- */
#breadcrumb {
	padding: 40px 0 0 0;
}

#breadcrumb a {
	color: #0066cc;
	font-size: 12px;
	font-weight: 400;
}

#breadcrumb a:hover {
	color: #444444;
	text-decoration: none;
}

#content-woocommerce {
	margin-top: 40px;
	margin-bottom: 20px;
}

.products ul, ul.products {
	margin-top: 40px;
}

.cart-collaterals .shipping_calculator {
	width: 100%;
}

table.shop_table {
	table-layout: fixed;
	-ms-word-break: break-all;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

@media screen and (max-width:767px) {
	table.shop_table {
		font-size: 10px;
	}
}

@media screen and (max-width:400px) {
	table.shop_table {
		font-size: 8px;
	}
}

table.cart td.actions .coupon .input-text,
table.cart td.actions .coupon .input-text {
	cursor: text;
}

/* =WPML
-------------------------------------------------------------- */
.icl_languages_selector {
	float: right;
	text-align: left
}

.rtl .icl_languages_selector {
	float: left;
	text-align: right
}

@media screen and (max-width: 650px) {
	.icl_languages_selector,
	.rtl .icl_languages_selector {
		float: none;
	}
}

/* =Polylang
-------------------------------------------------------------- */
.widget_polylang li {
	display: inline;
	list-style-type: none;
}

/* =Footer
-------------------------------------------------------------- */
#footer {
	font-size: 11px;
	line-height: 1.5em;
	color: #000000;
}

#footer a {
	cursor: pointer;
	/* color: #333333;
	font-weight: 400; */
}

#footer a:hover {
	color: #444444;
}

#footer-wrapper .grid.col-940 {
	margin: 0;
}

.scroll-top {
	text-align: center;
}

.copyright {
	float: right;
	padding-right: 5px;
	width: 180px;
	text-align: right;
}

.powered {
	text-align: right;
}

#footer_widget .col-300:nth-child(3n+3) {
	margin-right: 0;
}



/* =Social Icons
-------------------------------------------------------------- */
#footer .social-icons {
	list-style: none;
	line-height: normal;
	padding: 0;
	margin: 0;
	text-align: right;
}

#footer .rss-icon,
#footer .yelp-icon,
#footer .vimeo-icon,
#footer .youtube-icon,
#footer .twitter-icon,
#footer .facebook-icon,
#footer .linkedin-icon,
#footer .rss-feed-icon,
#footer .instagram-icon,
#footer .pinterest-icon,
#footer .foursquare-icon,
#footer .googleplus-icon,
#footer .google-plus-icon,
#footer .stumbleupon-icon,
#footer .stumble-upon-icon {
	display: inline;
	margin: 1px;
	padding-left: 3px;
}

/* =Alignments Extras
-------------------------------------------------------------- */
.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

/* =Clearfix
-------------------------------------------------------------- */
.clearfix:after,
.clearfix:before,
#container:after,
#container:before,
.widget-wrapper:after,
.widget-wrapper:before {
	content: ' ';
	display: table;
	clear:both;
}

.clearfix:after,
#container:after,
.widget-wrapper:after {
	clear: both;
}

.ie7 .clearfix,
.ie7 #container,
.ie7 .widget-wrapper {
	zoom: 1;
}

.clear {
	clear: both;
}

/* =Begin bidirectionality settings (do not change)
-------------------------------------------------------------- */
BDO[DIR="ltr"] {
	direction: ltr;
	unicode-bidi: bidi-override;
}

BDO[DIR="rtl"] {
	direction: rtl;
	unicode-bidi: bidi-override;
}

[DIR="ltr"] {
	direction: ltr;
	unicode-bidi: embed;
}

[DIR="rtl"] {
	direction: rtl;
	unicode-bidi: embed;
}

/* =Media Print
    If you're working on a Child Theme, make sure that all
	media queries are included in your style.css
-------------------------------------------------------------- */
@media print {

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

	ul, ol, dl {
		page-break-before: avoid;
	}
}

/*	Retina (HiDPI) Display
    http://www.quirksmode.org/blog/archives/2012/06/devicepixelrati.html
-------------------------------------------------------------- */
@media only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:3/2), only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {

	body {
	}
}

/*The last 29 days of the month are the hardest."- Nikola Tesla*/
